body {
    background-image: url("https://imgs.search.brave.com/BuuzRtJXt3AzcocNtHOl0UVcMfgwnWpsCEwfLcOMVio/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDE5MTM2/MjIuanBn"); 
    background-size: cover;
    background-position: center;
    display : flex; 
    justify-content: center;
    height: 80vh;
    align-items: center;

  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 900px;
    max-height: 700px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    display : flex; 
    justify-content: center;
    gap : 20px; 
    margin-top : 10px; 
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    width: 20vh;
    height:7vh;

    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }